* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(151, 153, 190);
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
}

.flexbox .board-list {
  display: flex;
  flex-direction: column;
  widows: 100%;
  min-width: 300px;
  background-color: rgb(22, 21, 31);
  padding: 15px;
}

.flexbox .board-list .list-item {
  padding: 15px 25px;
  background-color: rgb(238, 248, 211);
  cursor: pointer;
  margin-bottom: 15px;
}